<!DOCTYPE html>
<html>
<head>
  <title>Predicator</title>
  <%= stylesheet_link_tag    "predicator/application", media: "all" %>
  <%= javascript_include_tag "predicator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
